.DS_Store
.idea
.idea/*
cmake-build-debug
cmake-build-debug/*
cmake-build-release
cmake-build-release/*
unittest/cmake-build-debug
unittest/cmake-build-debug/*
CMakeCache.txt
CMakeFiles
CMakeFiles/*
Makefile
Makefile/*
bin
bin/*
log
log/*
